img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.logo {
    width: 100%;
}

.mainview {
    width: 100%;
}

.contents01{
    width: 100%;
}

.contents02{
    width: 100%;
}

.contents03{
    width: 100%;
}

.contents04{
    width: 100%;
}

.contents05{
    width: 100%;
}

.contents {
    position: relative;
}

.HP {
    position: absolute;
    top: 14%;
    left: 28.5%;
}

.insta {
    position: absolute;
    top: 14%;
    left: 53.5%;
}

.contents07 {
    width: 100%;
}

.button01 {
    width: 50%;
}

.button02 {
    width: 50%;
}





.back_button {
    margin-bottom: 30px;
}


















